.list{
    background-color: rgb(212, 227, 235);
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
}

.list-track{
    color: rgb(103, 104, 104);
    background-color: rgb(154, 173, 151);
}

.list h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}